body{
    font-family:Arial,sans-serif;
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    padding:30px;
}

.container{
    background:white;
    padding:25px;
    width:500px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    color:#0047ab;
}

.input-section{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:10px;
}

button{
    padding:10px 15px;
    border:none;
    cursor:pointer;
    background:#0047ab;
    color:white;
    border-radius:5px;
}

.filters{
    margin-top:20px;
    display:flex;
    gap:10px;
    justify-content:center;
}

ul{
    list-style:none;
    padding:0;
    margin-top:20px;
}

li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#eee;
    padding:10px;
    margin-bottom:10px;
    border-radius:5px;
}

.completed{
    text-decoration:line-through;
    color:gray;
}

.task-buttons button{
    margin-left:5px;
}
